#navbar {
    flex-direction: column;
    font-size: 18px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 5px;
}

.body {
    height: 350px;
    padding: 2px 100px;
}

.body p {
    font-size: 18px;
}

#services {
    flex-direction: column;
    margin: 3px 0;
}



#clints {
    flex-wrap: wrap;
    height: 400px;

}

.h-p {
    font-size: 16px;
    padding: 4px;
}

#clints img {
    height: auto;
    width: 30px;
    padding: 0px 3px;
}

.clint-items {
    padding: 34px;
}

.body::before {
    height: 420px;
}

#contact-box form {
    width: 20%;
}

.h-s {
    font-size: 25px;
}

.clint-section::before {
    height: 540px;

}

#services-box {
    height: 712px;
}

.box p {
    font-size: 12px;
    flex-wrap: wrap;
}

.form-group {
    flex-wrap: wrap;
}

.clint-items {
    padding: 24px;
}